<link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css" rel="stylesheet" >

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />


<!-- Widgets -->
<c-row style="display: flex; justify-content: center;">
    <c-col sm="6" xl="3">   
        <c-widget-stat-a class="mb-4" color="info" title="" style="display: flex; justify-content: center;">
          <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
            <svg cIcon name="cilCart" size="xl" style="margin-left:40px; margin-right: 30px;"></svg>       
                         {{globalService.formatNumber(allOrdersData.length)}}
            <span class="fs-6 fw-normal" style="font-size: small;"> <br> </span>
            <span class="fs-6 fw-normal" style="font-size: small;" style="margin: 0 40px">Total Orders</span>
          </ng-template> 
        </c-widget-stat-a>
    </c-col>
    <c-col sm="6" xl="3">   
        <c-widget-stat-a class="mb-4" color="success" title="" style="display: flex; justify-content: center;">
          <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
            <svg cIcon name="cilList" size="xl" style="margin-left:40px; margin-right: 30px;"></svg>       
                         {{globalService.formatNumber(allCategoriesData.length)}}
          
            <span class="fs-6 fw-normal" style="font-size: small;" style="margin: 0 40px">Total Categories</span>
          </ng-template> 
        </c-widget-stat-a>
    </c-col>
    <c-col sm="6" xl="3">   
        <c-widget-stat-a class="mb-4" color="warning" title="" style="display: flex; justify-content: center;">
          <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
            <svg cIcon name="cilPuzzle" size="xl" style="margin-left:40px; margin-right: 30px;"></svg>       
                         {{globalService.formatNumber(allProductSKUData.length)}}
            <span class="fs-6 fw-normal" style="font-size: small;"> <br> </span>
            <span class="fs-6 fw-normal" style="font-size: small;" style="margin: 0 40px">Total Products </span>
          </ng-template> 
        </c-widget-stat-a>
    </c-col>
   

  
    
</c-row>

<!-- cheapest-product / most-expensive-product Widget -->
  <c-row style="display: flex; justify-content: center; margin-bottom: 20px;">
    <c-col sm="6" xl="3">   
      <div class="product-comparison">
        <div class="product cheapest-product" style="width: 250px; height: 350px;">
          <h2>Cheapest Product</h2>
          <img [src]="domSanitizer.bypassSecurityTrustUrl(cheapestProduct.product.fields.product_photos)"  style="max-width: 100px; max-height: 100px; border-radius: 10px;">        
          <p class="product-name" id="cheapestProductName">{{globalService.SliceTitle(cheapestProduct.product.fields.product_title)}}</p>
          <p class="product-price" id="cheapestProductPrice">{{parsePrice(cheapestProduct.fields.discounted_price)}} $</p>
        </div>
      </div>
    </c-col>
  
      <c-col sm="6" xl="3">   
      <div class="product-comparison">
        <div class="product most-expensive-product" style="width: 250px; height: 350px;">
          <h2>Most Expensive Product</h2>
          <img [src]="domSanitizer.bypassSecurityTrustUrl(mostExpensiveProduct.product.fields.product_photos)"  style="max-width: 100px; max-height: 100px; border-radius: 10px;">        
          <p class="product-name" id="mostExpensiveProductName">{{globalService.SliceTitle(mostExpensiveProduct.product.fields.product_title)}}</p>
          <p class="product-price" id="mostExpensiveProductPrice">{{parsePrice(mostExpensiveProduct.fields.discounted_price)}} $</p>
        </div>
      </div>
    </c-col>
  </c-row>
  

<!-- Product Display -->
<div class="carousel-container" style="margin-bottom: 30px;">

  <c-dropdown alignment="end" variant="btn-group">
    <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent" style="margin-right: 20px;">
      <svg cIcon  name="cilListFilter" size="xl"  [ngClass]="'text-medium-emphasis'"></svg>
    </button >   
    <span class="carousel-title">  Top Rated Products </span>

  <ul cDropdownMenu class="scrollable">
  <li *ngFor="let category of categoryTree" class="dropdown-item"   (mouseenter)="onMouseEnter(category)" (mouseleave)="onMouseLeave()">
    
    <div class="category-label">
      <mat-label>{{ category.fields.name }}</mat-label>
      <mat-select
        class="mat-select"
        [(ngModel)]="selectedCategoryOption"
        (click)="$event.stopPropagation()"
        (selectionChange)="SelectedCategory($event, category); applyFilters();"
      >
        <mat-option
          *ngFor="let childCategory of getCategoryChildren(category)"
          [value]="childCategory"
        >
          {{ childCategory.fields.name }}
        </mat-option>
      </mat-select>
    </div>
    <ng-container *ngIf="hoveredCategory === category && getCategoryChildren(category).length > 0">
      <app-dropdown-menu
        [categories]="getCategoryChildren(category)"
      ></app-dropdown-menu>
    </ng-container>
  </li>
  </ul>
  
  </c-dropdown>

  <button class="carousel-button left" id="prevButton">&#8249;</button>
  <div class="carousel">
    <div class="product-container" #productContainer>
      <div class="product-card" *ngFor="let item of Ranking">     
        <img [src]="domSanitizer.bypassSecurityTrustUrl(item.productSKU.product.fields.product_photos)" alt="Product {{ item.id }}" style="max-width: 150px; max-height: 150px; border-radius: 10px; object-fit: cover;">
        <p>{{  globalService.SliceTitle(item.productSKU.product.fields.product_title)  | slice: 0:50}}</p>
        <div class="small text-medium-emphasis"  >
          <ngb-rating [rate]="item.fields.rating" [readonly]="readonlyRate" class="stars" [max]="5"  
          style="color: rgb(234, 199, 0);  transition: color 0.2s; font-size: 24px;"></ngb-rating>
        </div>
        <p>
          <span #price class="original-price">{{ globalService.formatPriceRange(item.productSKU.fields.typical_price_range ) }} </span>
          <br>
          <div class="discount-container">
            <span class="discount-tag">DISCOUNT</span>
            <span class="discount-amount">-{{item.productSKU.fields.discount_percentage}}</span>
          </div>
          <br>
          <span class="new-price">{{item.productSKU.fields.discounted_price}}</span>
          
      </div>
    </div>
  </div>
  <button class="carousel-button right" id="nextButton">&#8250;</button>
</div>

<!-- <div>
  <input (input)="filtercategory($event)">
    <p *ngFor="let item of filteredCategories"> {{item.id + " name : "+ item.fields.name + "  / parent : "+ item.parent.fields.name + "  "+ item.parent.id}}</p>
</div> -->


<!-- <div id="category-tree"></div> -->
<!-- <p> herre {{selectedCategoryOption}}</p> -->


  <!-- Products Table -->
<c-row>  
 <c-col xs>
          <c-card class="mb-4">
            <c-card-header style="font-size: large;">   
              
              <div class="search-container">

                <button  mat-button class="FilterButton" (click)="toggleFilters()" > 
                  <svg cIcon  name="cilOptions" size="l" fill="black"></svg> 
                </button> 
                Products

                <input type="text" placeholder="Search Product .." [(ngModel)]="searchText" (input)="applyFilters()" />

              </div>
                <!-- Toggleable panel for filters -->
                <div class="filter-container">
                <div class="filterPanel" *ngIf="showFilters">
                  <!-- typical_price_range Filter -->
                  <div class="filterItem">

                    <!-- <label for="typical_price_rangeFilter">Country typical_price_range:</label> -->
                    <mat-select class="mat-select" id="countryFilter"  [(ngModel)]="typical_price_rangeSelectedOption" (selectionChange)="applyFilters()">
                      <input class="mat-option-input" type="text" placeholder="Search Price Range" style="width: 95%; margin-right: 10px;" [(ngModel)]="priceRangeSearchTerm" (input)="filterPriceRanges()">                      
                      <mat-option class="mat-option-text"  value="" style="margin-top: 45px;">All Typical Price Ranges</mat-option>
                      <mat-option class="mat-option-text"  *ngFor="let range of typical_price_rangeOptions" [value]="range">                       
                        <span>{{  globalService.formatPriceRange(range) }}</span>
                      </mat-option>
                    </mat-select>
                  </div>
              
                  <!-- Availability Filter -->
                  <div class="filterItem"> 
                    <!-- <label>Availability Filter:</label> -->
                     <mat-select class="mat-select" [(ngModel)]="selectedavailabilityOption" (selectionChange)="applyFilters()">
                      <mat-option class="mat-option-text" value=""> All Availabilities </mat-option>
                      <mat-option class="mat-option-text" value="ending"> Out Of Stock </mat-option>
                      <mat-option class="mat-option-text" value="about-to-end">Limited Stock</mat-option>
                      <mat-option class="mat-option-text" value="available">Available</mat-option>
                    </mat-select>
                  </div>


                   <!-- Supplier Filter -->
                   <div class="filterItem">
                    <!-- <label for="SupplierFilter"> Supplier:</label> -->
                    <mat-select class="mat-select" id="SupplierFilter"  [(ngModel)]="SupplierSelectedOption" (selectionChange)="applyFilters()">
                      <mat-option class="mat-option-text"  value="" >All Suppliers</mat-option>
                      <mat-option class="mat-option-text"  *ngFor="let supplier of supplierOptions" [value]="supplier">                       
                        <span>{{  supplier }}</span>
                      </mat-option>
                    </mat-select>
                  </div>

                 <!-- Discount  Filter -->
                  <div class="filterItem">
                    <label cLabel for="discountRange"><strong>{{discountPercentageOption}}%  - Discounted </strong>
                      <button  mat-button class="FilterButton" (click)="resetDiscountFilter()" > 
                        <svg cIcon  name="cilFilterX" size="l" ></svg> 
                      </button> 
                      <input [(ngModel)]="discountPercentageOption" cFormControl id="discountRange" type="range" (input)="applyFilters()" />

                    </label>
                  
                  </div>
                  
                  <!-- Rating  Filter -->
                  <div class="filterItem">
                    <label cLabel for="rating">
                      <strong style="margin-right: 5px;">Rated - {{ selectedRateOption }} / 5</strong>
                    </label>
                    <ngb-rating
                      [(ngModel)]="selectedRateOption"
                      (rateChange)="onRateChange()"
                      [readonly]="!readonlyRate"
                      id="rating"
                      class="stars"
                      [max]="5"
                      style="color: rgb(234, 199, 0); transition: color 0.2s; font-size: 24px;"
                    ></ngb-rating>
                    <button mat-button class="FilterButton" (click)="resetRateFilter()">
                      <svg cIcon name="cilFilterX" size="l"></svg>
                    </button>
                  </div>
                  

                  

                </div>
              </div>
            
            </c-card-header>

            <c-card-body>
                            
              <table
                [hover]="true"
                [responsive]="true"
                [striped]="true"
                align="middle"
                cTable
                class="mb-0 border">
                <thead cTableColor="light">
                  <tr>
                    <th class="text-center"> Product  </th>
                    <th> Category </th>
                     <th class="text-center"> Typical price range</th>
                    <th>Discount Percentage</th>
                    <th> Discounted Price</th>
                    <th class="text-center">nbr of units in inventory</th>
                    <th class="text-center">Supplier</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let review of finalProductsReviews.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage); index as i " (click)="showProductDetails(review); clickedreview=review" >
                  <ng-container *ngIf="review.productSKU" >
                    <td class="text-center" style="font-size: 0.5px;">
                      <img [src]="domSanitizer.bypassSecurityTrustUrl(review.productSKU.product.fields.product_photos)"  style="max-width: 50px; max-height: 50px; border-radius: 10px;">        
                      {{ globalService.SliceTitle(review.productSKU.product.fields.product_title) }}    
                      <div class="small text-medium-emphasis"  >
                        <ngb-rating [rate]="review.fields.rating" [readonly]="readonlyRate" class="stars"   [showHalfStars]="true"
                        [max]="5" style="color: rgb(234, 199, 0);  transition: color 0.2s; font-size: 24px;"></ngb-rating>
                      </div>
                     </td>
                    <td>
                      <div>
                          <span *ngIf="review.productSKU.product.category" class="text-medium-emphasis" style="font-size: 0.5px;"> {{review.productSKU.product.category.fields.name }} </span>
                          <span *ngIf="!review.productSKU.product.category" class="text-medium-emphasis" style="font-size: 0.5px;">  </span>

                      </div>
                  
                    </td>
                    <td class="text-center">
                      {{ globalService.formatPriceRange(review.productSKU.fields.typical_price_range)}}  
                   
                    </td>
                    <td>
                      <div class="d-flex justify-content-between">
                        <div class="float-start">
                          <!-- <strong>{{review.productSKU.fields.discount_percentage }}</strong> -->
                        </div>
                        <div class="float-end ms-1 text-nowrap">
                          <small class="text-medium-emphasis">
                            {{ review.productSKU.fields.discount_percentage}}
                          </small>
                        </div>
                      </div>
                      <c-progress thin>
                        <c-progress-bar [value]="globalService.extractDiscountPercentage(review.productSKU.fields.discount_percentage)"
                        [ngClass]="globalService.getProgressBarColor(globalService.extractDiscountPercentage(review.productSKU.fields.discount_percentage))"
                        ></c-progress-bar>
                      </c-progress>
                    </td>

                    <td >
                      <div class="fw-semibold text-nowrap" style="margin: 0 20px ;">{{review.productSKU.fields.discounted_price}} </div>
                    </td>
    
                    <td class="text-center">
                      <span *ngIf="globalService.getStockStatus(review.productSKU.fields.nbr_unit_inventory) === 'ending'" class="fw-semibold text-nowrap text-danger">{{review.productSKU.fields.nbr_unit_inventory}}
                         <br> <small class="text-medium" style="font-weight: normal;"> out of stock </small>
                        </span>
                      <span *ngIf="globalService.getStockStatus(review.productSKU.fields.nbr_unit_inventory) === 'about-to-end'" class="fw-semibold text-nowrap text-warning">{{review.productSKU.fields.nbr_unit_inventory}} 
                        <br> <small class="text-medium" style="font-weight: normal;"> limited stock </small>
                      </span>
                      <span *ngIf="globalService.getStockStatus(review.productSKU.fields.nbr_unit_inventory) === 'available'" class="fw-semibold text-nowrap text-success">{{review.productSKU.fields.nbr_unit_inventory}}
                         <br>  <small class="text-medium" style="font-weight: normal;">available</small>
                        </span>
                    </td>
                    <td>
                      <span  class="text-medium-emphasis" style="font-size: 0.5px;">
                        <!-- {{finalOrders[0].supplier.fields.name}} -->
                        {{globalService.getItemByObject("sku",review.productSKU, finalOrders).supplier.fields.name}}
                      </span>
                    </td>   
                  </ng-container>                                        
                  </tr>

                  <tr *ngIf="finalProductsReviews.length === 0">
                    <td  class="noResults">No matching results found.</td>
                  </tr>
                </tbody>

              </table>   
              <div class="d-flex justify-content-center">
                  <ngb-pagination [collectionSize]="finalProductSKUs.length" [(page)]="currentPage" [pageSize]="itemsPerPage" [size]="'sm'" [boundaryLinks]="true" [rotate]="true" [ellipsis]="false" [maxSize]="5" style="margin: 10px; "></ngb-pagination>
              </div>
            </c-card-body>         
          </c-card>
 </c-col>  
 
</c-row>
<ng-container *ngIf="clickedreview !== null" >
<c-row>

    <!-- Numbers Kpis  -->
    <c-col md="6" xl="6" xs="12" style="margin-left: 15%;">
      <c-row>
        <c-col sm="6">
          <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
            <div class="text-medium-emphasis large"> 
              <img *ngIf="selectedReviewSale.fields.status == 'Medium Sales'" src="./assets/img/icons/forecasting.png" style="width: 35px; height: 35px; margin-right: 5%;" >
              <img *ngIf="selectedReviewSale.fields.status == 'High Sales'" src="./assets/img/icons/salesUp.png" style="width: 40px; height: 40px; margin-right: 5%;" >
              <img *ngIf="selectedReviewSale.fields.status == 'Low Sales'" src="./assets/img/icons/salesDown.png" style="width: 40px; height: 40px; margin-right: 5%;" >
              Status</div>
            <div class="fs-5 fw-semibold" style="margin-left: 15%;">{{selectedReviewSale.fields.status}}</div>
          </div>
        </c-col>

        <c-col sm="6">
          <div
            class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
            <div class="text-medium-emphasis large"> <img  src="./assets/img/icons/budget.png" style="width: 40px; height: 40px; margin-right: 5%;" > Total Sales</div>
            <div class="fs-4 fw-semibold" style="margin-left: 25%;">{{globalService.formatNumber(parsePrice(selectedReviewSale.fields.Total))}}$</div>
          </div>
        </c-col>
     
      </c-row>
  
      <hr class="mt-0" />
    </c-col>
   
    <c-col sm="4">
      <c-row>      
        <c-col sm="6">
          <div class="border-start border-start-4 border-start-info py-1 px-1 mb-3" >        
            <div class="text-medium-emphasis large">   <img  src="./assets/img/icons/order.png" style="width: 40px; height: 40px; margin-right: 5%;" > Total Orders</div>
            <div class="fs-4 fw-semibold" style="margin-left: 25%;">  {{ selectedReviewOrdersArray.length }} </div>
          </div>
        </c-col>
      </c-row>
  
      <hr class="mt-0" />
    </c-col>
  
    <c-row style="margin-top: 30px;">
 
      <!-- Supplier details -->
      <c-col xs="8" lg="4">
        <c-card class="mb-4">
          <c-card-header>
            Supplier 
          </c-card-header>
         
          <c-card-body >
            <img  src="./assets/img/icons/distribution.png" style="width: 150px; height: 150px; margin:5% 25%;" >
            <div class="shipment-detail">
              <p><strong>Name:</strong> {{globalService.getItemByObject("sku",clickedreview.productSKU, finalOrders).supplier.fields.name}}</p>
            </div>
            <div class="shipment-detail">
              <p><strong>Type:</strong> {{globalService.getItemByObject("sku",clickedreview.productSKU, finalOrders).supplier.fields.type}}</p>
            </div>
  
            <div class="shipment-detail">
              <p>
                <img  src="./assets/img/icons/location.png" style="width: 40px; height: 40px; " >

                 {{globalService.getItemByObject("sku",clickedreview.productSKU, finalOrders).supplier.fields.adress}}</p>
            </div>
  
          </c-card-body>
        </c-card>
      </c-col>


      <!-- order map  -->
      <c-col xs="20" lg="8">
        <c-card class="mb-4">
          <c-card-header>
            Order Heatmap:  Order Counts Across Countries 
          </c-card-header>
         
          <c-card-body>
            <div 
              leaflet 
              [leafletOptions]="options" 
              (leafletMapReady)="onMapReady($event)" 
              style="height: 295px; position: relative; outline-style: none;"
            ></div>  
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
    
      <!-- line / bar chart  -->
    <c-row style="margin-top: 25px;">
      <c-col xs="12" lg="6">
        <c-card class="mb-4">
          <c-card-header> Count of orders by Shipping type </c-card-header>
          <c-card-body>
            <!-- <c-chart type="pie" [data]="chartPieShipmentData" [options]="chartPieShipmentOptions"></c-chart> -->
            <c-chart type="line" [data]="chartLineShipmentData" [options]="chartLineShipmentOptions"></c-chart>
    
          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="12" lg="6">
        <c-card class="mb-4">
          <c-card-header> Average Late days per Shipping type </c-card-header>
          <c-card-body>
            <c-chart type="bar" [data]="chartBarShipmentData" [options]="chartBarOptions"></c-chart>   
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>


      <!-- orders Table  -->
    <c-row>
    <c-col xs="12" lg="7">
    <c-card class="mb-8">
      <c-card-header>                    
        <button  mat-button class="FilterButton" (click)="toggleOrderFilters()" > 
          <svg cIcon  name="cilOptions" size="l" fill="black"></svg> 
        </button> 
        Orders
        <div class="filter-container">
          <div class="filterPanel" *ngIf="showOrderFilters">

             <!-- Shipping type Filter -->
               <div class="filterItem">
                <!-- <label>Marketing Concepts Filter:</label>  -->
                <mat-select class="mat-select" [(ngModel)]="shippingtypeFilter" (selectionChange)="applyOrderFilters()">
                 <mat-option class="mat-option-text"  value="">All Shipping types</mat-option>
                 <mat-option class="mat-option-text"  *ngFor="let type of UniqueShipmentTypes" [value]="type">
                   <span>{{type}}</span>  
                  </mat-option>
                </mat-select>
             </div> 
                <!-- Shipping type Filter -->
                <div class="filterItem">
                  <mat-select class="mat-select" [(ngModel)]="shippingstatusFilter" (selectionChange)="applyOrderFilters()">
                   <mat-option class="mat-option-text"  value="">All Shipping Status</mat-option>
                   <mat-option class="mat-option-text"  *ngFor="let status of uniqueShipmentstatus" [value]="status">
                     <span>{{status}}</span>  
                    </mat-option>
                  </mat-select>
               </div> 

        <!-- Status Filter -->

            <div class="filterItem">
                <div class="supplier-filter" >
                  <label >Supplier: </label>
                  <mat-checkbox [checked]="SupplierOption === true" (change)="toggleSupplierOption(true)" color="primary" style="margin: 0 10px;"> 
                    Yes
                  </mat-checkbox>  
                  <mat-checkbox [checked]="SupplierOption === false" (change)="toggleSupplierOption(false)" color="primary" style="margin: 0 10px;"> 
                    No 
                  </mat-checkbox>
                  <button  mat-button class="FilterButton" (click)="toggleSupplierOption(null)" > 
                    <svg cIcon  name="cilFilterX" size="l" ></svg> 
                  </button> 
                </div>
            </div> 


          </div>            
            </div>
        </c-card-header>
      <c-card-body>   
        <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0 border">
        <thead cTableColor="light">                  
          <tr>
            <th><img  src="./assets/img/icons/purchase-order.png" style="width: 35px; height: 35px; margin-right: 5%;" ></th>
            <th class="text-center"> Quantity</th>
            <th class="text-center">Total</th>
             <!-- <th class="text-center">Supplier</th>  -->
             <th class="text-center">Client</th>        
             <th class="text-center">Shipment Type</th> 
             <th class="text-center">Shipment Status</th>    
             <th class="text-center"></th>               
           
              
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of selectedReviewOrdersArray.slice((currentPageTeam - 1) * itemsPerPageTeam, currentPageTeam * itemsPerPageTeam); index as i" (click)="OrderDetails(order); clickedOrder=order;">  
              <td class="text-center">
                <strong>{{ (currentPageTeam - 1) * itemsPerPageTeam + i + 1 }}</strong>   
              </td>
              <td class="text-center">
                <div class="small text-medium-emphasis">
                  {{order.fields.Quantity_Ordered}}
                </div>                   
              </td>                 
            <td class="text-center">
               <strong>{{globalService.formatNumber(parsePrice(order.fields.Total[0]+order.fields.Total[1]))}}$</strong>   
            </td>

            <td class="text-center">
              <div class="small text-medium-emphasis"  >
                {{order.client.fields['customer name']}}  
              </div>
            </td>
            <td class="text-center">
              <div class="small text-medium-emphasis"  >
                {{order.shipment.fields.type}}
              </div>              
            </td>   
            <td class="text-center">
              <div class="small text-medium-emphasis"  >
                {{order.shipment.fields.status}}
              </div>              
            </td>     
            <td class="text-center">
              <div class="small text-medium-emphasis">
                <a class="detailsLink" (click)="showShipmentDetails(order.shipment, i)" [class.active]="activeLinkIndex === i" class="detailsLink">shipment details</a>
              </div>              
            </td>                                       
          </tr>
       
       </tbody>
  
      </table> 
      <div class="d-flex justify-content-center">
        <ngb-pagination [collectionSize]="selectedReviewOrdersArray.length" [(page)]="currentPageTeam" [pageSize]="itemsPerPageTeam" [size]="'sm'" [boundaryLinks]="true" [rotate]="true" [ellipsis]="false" [maxSize]="5" style="margin: 10px; "></ngb-pagination>
      </div>      
      </c-card-body>
   </c-card>
  </c-col>
  <!-- Shipment details -->
  <c-col xs="8" lg="4"  *ngIf="selectedShipment" style="margin-top: 1%;">
    <c-card class="mb-5">
      <c-card-body >
        <img  src="./assets/img/icons/fulfillment.png" style="width: 150px; height: 150px; margin:5% 25%;" >
        <div class="shipment-detail">
          <p *ngIf="selectedShipment.fields.isSupplier === true"><strong>Supplier:  </strong> <img  src="./assets/img/icons/check-mark.png" style="width: 30px; height: 30px; " ></p>
          <p *ngIf="selectedShipment.fields.isSupplier === false"><strong>Supplier:  </strong> <img  src="./assets/img/icons/cancel.png" style="width: 30px; height: 30px;" ></p>

        </div>
        <div class="shipment-detail">
          <p><strong>Type:</strong> {{selectedShipment.fields.type}}</p>
        </div>
        <div class="shipment-detail">
          <p><strong>Status:</strong> 
    
            {{selectedShipment.fields.status}}</p>
        </div>
        <div class="shipment-detail">
          <p><img  src="./assets/img/icons/location.png" style="width: 40px; height: 40px; " >
            {{selectedShipment.fields.adress}}</p>
      </div>
        <div class="shipment-detail">
          <p><img  src="./assets/img/icons/coin.png" style="width: 40px; height: 40px; " >
            {{selectedShipment.fields.shipment_price}} {{selectedShipment.fields.currency}}</p>
      </div>
        <div class="shipment-detail">
         <p><img  src="./assets/img/icons/delivery-schedule.png" style="width: 30px; height: 30px; " >
          <strong> Planned Date:</strong> {{ globalService.formatDate( selectedShipment.fields.shipmentDate_planned,'date')}}</p>
      </div>
        <div class="shipment-detail">
          <p> <img  src="./assets/img/icons/delivered.png" style="width: 30px; height: 30px; " >
            <strong> Actual Delivery Date:</strong> {{globalService.formatDate( selectedShipment.fields.actual_shipmentDate,'date')}}</p>
      </div>
        <div class="shipment-detail">
         <p *ngIf="selectedShipment.fields.late_days==1"> <img  src="./assets/img/icons/late.png" style="width: 30px; height: 30px; " >        
          <strong class="fw-semibold text-nowrap text-danger"> {{selectedShipment.fields.late_days}} day Late  </strong> </p>
         <p *ngIf="selectedShipment.fields.late_days!==1">
          <img  src="./assets/img/icons/late.png" style="width: 30px; height: 30px; " >
          <strong  class="fw-semibold text-nowrap text-danger"> {{selectedShipment.fields.late_days}} days Late </strong>  </p>
      </div>
      </c-card-body>
    </c-card>
  </c-col>

    </c-row>
 
 
</c-row>
</ng-container>